*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #780000;
}

header, footer, h1, .parrafoFooter{
    background-color: #2b2d42;
    color: #8d99ae;
    padding: 10px;
    
}

footer{
    display: block;
}

.imgLogo{
    height: 150px;
    width: 150px;
    background-color: #2b2d42;
}

.navbar{
    background-color: #2b2d42;
}

dt{
    text-align: center;
    font-size: 30px;
}
dd{
    text-align: center;
    font-size: 25px;
    margin: 5px 60px;
}

h3{
    text-align: center;
    font-weight: 500;
}


#carrito{
    background-color: #780000;
}

.carritoProducto{
    background-color: #780000;
}

h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row gy-5{
    height: 100px;
    width: 100px;
}

img{
    height: 200px;
    width: auto;
    align-items: center;
    display: inline;
}

button{

    border: none ;
    margin: 0; 
    background-color: none;
}


.btnCarrito{
    background-color: none;

}

.precio{
    color: #2b2d42;
    font-size: 22px;
}

.tipoBebidas{
    border: solid 3px #2b2d42;
    border-radius: 5px;
    margin: 5px 5px;
    padding: 15px;
}

.bebidas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}

.h3{
    text-align: center;
    margin: auto;
}

.carrito{
    text-align: center;
}

.carritoProducto{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin:  30px auto;
}

.cantidad{
    font-size: 30px;
}

.total{
    font-size: 30px;
}

.resta{
    margin: 0px 15px;
    cursor: pointer;
    font-size: 30px;
}

.suma{
    margin: 0px 15px;
    cursor: pointer;
    font-size: 30px;
}

button.boton{
    margin: 0px 15px;
    background-color: #780000;
}

#carrito{
    margin: 15px 15px;
}

#ver-carrito{
    font-size: 60px;
    background-color: #2b2d42;
}

.carrito{
    font-size: 40px;
}

.h2Carrito{
    margin-top: 60px;
}

.CarritoBoton{
    margin-left: 40px;
}

.pagarTotal{
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #2b2d42;
    color: #fff;
}



